<!-- Footer -->
<div class='footer'>
  <h1>DUCTAPE</h1>
  <p>You are receiving this email from Ductape. Please do not reply directly to this email. If you have any questions or
    feedback, please visit our
    <a href='#'>website</a>.</p>
  <p style='font-weight: 600;'>Copyright © {{year}} Ductape LLC</p>
</div>