<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap" rel="stylesheet">
    {{>styles}}
</head>

<body>
    <div class="email-container">
        <!-- Header -->
        {{>header}}

        <!-- Content -->
        <div class="content">
            <h1>Verify Account</h1>
            <p style="padding-bottom: 20px; padding-bottom: 20px;">Hey {{firstname}},</p>
            <p>Thank you for signing up on Ductape. This is the start of an exciting journey
            </p>
            <p style="padding-top: 20px; padding-bottom: 20px;">Click the button below to verify your account and get started.</p>
            <div class="button">
                <a href="{{confirmation_link}}">Verify Email Address</a>
            </div>
        </div>

        <!-- Footer -->
        {{>footer}}
    </div>
</body>

</html>
