<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap" rel="stylesheet">
    {{>styles}}
</head>

<body>
    <div class="email-container">
        {{>header}}

        <!-- Content -->
        <div class="content">
            <div class="profile-card">
                <div class="profile-image">
                    <img src="https://res.cloudinary.com/duqb0opue/image/upload/v1737942810/F_jx83xs.png" alt="Profile Picture">
                </div>
                <div class="profile-info">
                    <p class="name">Fikayo</p>
                    <p class="title">Founder, Ductape</p>
                </div>
            </div>
            <p style="padding-bottom: 20px; padding-bottom: 20px;">Dear Reader,</p>

            <p style=" padding-bottom: 20px;">Welcome to The Ductape. I want to take this moment to
                thank you for registering and introduce myself.</p>
                <div>
                    <p>With Love,</p>
                    <p>Fikayomi.</p>
                </div>
           
        </div>

        {{>footer}}
    </div>
</body>

</html>