<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap" rel="stylesheet">
    {{>styles}}
</head>

<body>
    <div class="email-container">
        {{>header}}

        <!-- Content -->
        <div class="content">
            <h1 style="font-size: larger">Welcome to Ductape: build integrations that don't break</h1>
            
            <p class="greeting">Hi there 👋</p>
            
            <p class="intro">I'm ifedayo from Ductape, thrilled to have you on board! 🎉</p>
            
            <p class="goal">Our goal is simple: to make building API-driven products faster and easier for you and your team. Here are two quick tips to get started:</p>
            
            <p class="tips-title">1. Import your first API collection</p>
            <p class="tip-description">Upload a Postman collection to instantly pull in your endpoints.</p>
            
            <p class="tips-title">2. Create your first integration</p>
            <p class="tip-description">Pick one of your imported endpoints and call any endpoint like a function directly in your code.</p>
            
            <p class="workflows">You can also chain endpoints and combine them with other backend components to build full workflows. Tutorials and sample projects will soon be in your dashboard and docs to help you get started quickly.</p>
            
            <p class="support">If you run into any issues, I'm here to help. You can message me here and I'll reply you.</p>
            
            <p class="closing">Happy building,</p>
            <strong class="signature">ifedayo</strong>
        </div>

        {{>footer}}
    </div>
</body>

</html>